<html>
    <%- include('header', {logged: true, firstName: firstName}); %>
    <div id="buy-btc" class="container">
        <h1><%= title %></h1>
        <div class="row cot">
        <div class="col-xs-12 col-sm-4">
            <h4>Cotizacion Btc:</h4>
            <span class="last-price-value"><%= lastPrice %></span>
            <input type="hidden" class="last-price-value-api" value="<%= lastPrice %>" />
        </div>
        <div class="col-xs-12 col-sm-4">
            <h4>Cotizacion Ars:</h4>
            <span class="last-blueprice-value"><%= bluePrice %></span>
        </div>
        </div>

        <form action="/registros" method="post" id="formBuy" name="addNewRegistry">
            <input type="hidden" id="type" name="type" value="Buy" />
            <input type="hidden" id="dateregistry" name="dateregistry" value="" />
            <input type="hidden" id="ganancia" name="ganancia" value="" />
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <label>Monto Bitcoin:</label>
                    <input type="number" id="btc" name="btc" value="0" />
                </div>

                <div class="col-xs-12 col-sm-4">
                    <label>Porcentaje:</label>
                    <input type="number" id="porcen" name="porcentaje" value="0" />
                </div>

                <div class="col-xs-12 col-sm-4">
                    <label>Pesos Ars:</label>
                    <input type="number" id="arsresult" name="pesos" value="0" />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button type="button" id="calcular" class="btn btn-primary confirm-transaction-btn">Confirmar Transaccion</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        var lastPrice = document.querySelector('.last-price-value').innerHTML;
        var bluePrice = document.querySelector('.last-blueprice-value').innerHTML;


        function refreshData() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/Buy_Btc');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var allHTML = xhr.responseText;
                    var el = document.createElement('html');
                    el.innerHTML = allHTML;
                    var lastPrice = el.getElementsByClassName('last-price-value-api')[0].value;
                    document.querySelector('.last-price-value').innerHTML = lastPrice;
                }
                else {
                    console.log('Request failed.  Returned status of ' + xhr.status);
                }
            };
            xhr.send();
        }

        function calculateBtc() {
            var porcen = document.getElementById("porcen").value;
            var btcAmount = document.getElementById("btc").value;
            var arsValuedocument = document.getElementById("arsresult").value;
            var floatMarketPrice = parseFloat(lastPrice);
            var btcPercent = porcen * floatMarketPrice / 100;
            var totalBtc = btcPercent + floatMarketPrice;
            var newBtcValue = arsValuedocument / bluePrice / totalBtc;
            document.getElementById("btc").value = newBtcValue.toFixed(8);
        };

        function mostrarValor() {
            document.getElementById("arsresult").style.display = "block";
        };

        function btcusd(){
            var porcen = document.getElementById("porcen").value;
            var btcAmount = document.getElementById("btc").value;
            var floatMarketPrice = parseFloat(lastPrice);
            var btcPercent = porcen * floatMarketPrice / 100;
            var totalBtc = btcPercent + floatMarketPrice;
            var arsresult = totalBtc * btcAmount;
            var totalArs = bluePrice * arsresult;
            var parsedtotalArs = parseInt(totalArs);
            document.getElementById("arsresult").value = parsedtotalArs.toFixed(0);
        };

        function addEvents() {
            document.getElementById("calcular").addEventListener('click', mostrarValor);
            document.getElementById("btc").addEventListener('keyup', btcusd);
            document.getElementById("porcen").addEventListener('keyup', btcusd);
            document.getElementById("arsresult").addEventListener('keyup', calculateBtc);
        };

        document.getElementById('calcular').addEventListener("click", function() {
            document.getElementById('formBuy').submit();
        });

        function dataCounter() {
            setTimeout(function () {
                refreshData();
                dataCounter();
            }, 100000);
        };

        function getDayAndHour() {
            var currentDateAndHour = moment().format(),
            dateHiddenInput = document.getElementById('dateregistry');
            dateHiddenInput.value = currentDateAndHour;
        };

        dataCounter();
        addEvents();
        getDayAndHour();
        refreshData();
    </script>
</html>
